body {
    margin: 0 auto;
    background: url("https://media.timeout.com/images/105695908/image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    opacity: 0.9;
    overflow-x: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5% 0;
}

#title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #242627;
    font-size: 45px;
    font-variant: small-caps;
    text-align: center;
}

#description {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #242627;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
}

.labels-radio {
    display: flex;
    flex-direction: column;
}

.form-rows {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#check-all {
    font-style: italic;
    font-size: small;
}

legend {
    font-weight: 800;
    font-size: 1.2em;
}

#message {
    font-weight: 800;
    margin: auto 2%;
}

#submit {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    background-color: #28a745;
    border: 1px solid rgb(102, 100, 100);
    border-radius: 10%;
    color: aliceblue;
}

#survey-form {
    padding: 25px;
}

.questions {
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    body {
        width: 30%;
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    body {
        width: 40%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 70%;
        max-width: 100%;
    }
}